<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
       <compilation debug="true" targetFramework="4.0">
       </compilation>
        <sessionState timeout="600" />
    </system.web>
    <appSettings>
      <add key="PYTHONPATH" value="C:\inetpub\wwwroot\DPR" />
      <add key="PATH_INFO" value="/DPR/" />
      <add key="WSGI_HANDLER" value="runserver.app" />
      <add key="WSGI_LOG" value="C:\inetpub\wwwroot\wfastcgi.log" />
      <add key="BASE_FOLDER" value="" />
      <add key="SCRIPT_NAME" value="/runserver" />
      <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />
  </appSettings>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <add name="FlaskHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\ProgramData\Anaconda3\python.exe|C:\ProgramData\Anaconda3\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <caching enabled="false" enableKernelCache="false" />
        <staticContent>
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
        <httpProtocol allowKeepAlive="false" />
    </system.webServer>
</configuration>
