<div class="collapse" id="navbarToggleExternalContent">

  <div class="bg-light p-4" id="bcm-demo">
      <h4 class="text-blue">Client Problem</h4>
      <div>
        In the wake of big data, new analytics, and new data techniques, financial services organizations are becoming more data-centric than ever before. However, management of big data poses many challenges, not only around storage but also around extracting value from data assets. This solution is designed to provide clients with a personalised, in-depth view of their data to optimise storage, identify problems and extract insights.<br><br>
      </div>
      <h4 class="text-blue">Capgemini Solution</h4>
      <div>
        While traditional approaches to data profiling and data quality monitoring rely solely on rule-based metrics, our solution harnesses the power of AI, Machine Learning and big data analytics to maximise the value extracted, whether that be through streamlining a major transformation, AI-powered anomaly detection, or  ML-based data modelling optimisations to reduce storage costs. The solution can be customised to suit each client's individual needs.<br><br>
      </div>
      <h4 class="text-blue">Technologies and Tooling</h4>
      <div>
        Our solution is written using open-source technologies to maximise flexibility and customisability while minimising vendor lock-in and licensing costs. The tool can be run in a wide range of environments, from a cloud-based web app integrating with your current pipeline, to an on-premises server running locally on secure databases, and can be connected with a wide range of structured and unstructured data sources. <br><br>
      </div>
      
      
    </div>

  </div>